/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
}

/* Utils */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
#main-header {
    margin: 30px 0;
}

nav {
    margin: 30px 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

#main-header nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #d2d2d2;
}

/* Corpo pagina */
.spotlight {
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    color: white;
    border-radius: 10px;
}

.spotlight-text {
     padding: 350px 550px 0 50px;
     margin: 30px 0;
}

.spotlight h1 {
    font-size: 30px;
}

.spotlight div {
    font-size: 20px;
}
.leadership {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.leadership> header {
    margin: 30px 0;
}

.leadership header h1 {
    font-size: 30px;
}

.leadership header div {
    color: #d2d2d2;
    font-size: 16px;
}

.col {
    width: 25%;
    float: left;
}

.column-section .col:nth-child(2) {
    width: calc(50% - 40px);
    margin: 0 20px;
}

.rounded-box {
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.transbox {
    height: 100%;
    background-color: grey;
    opacity: 0.5;
    border-radius: 10px;
}

#img-1 {
    background-image: url(../img/img-1.jpg);
}

#img-2 {
    background-image: url(../img/banner-2.jpg);
}

#img-3 {
    background-image: url(../img/img-3.jpg);
}

.col {
    color: #d2d2d2;
}

.column-section .col h2 {
    padding: 20px 0;
    color: grey;
}

/* Footer */
footer {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: grey;
}

#red-heart {
    color: red;
}